section.health{
	@extend .trans-2;
	@extend .trans-all-2;
	margin-top: -1px;
	padding: 0 0 5vw;
	background-color: $cred;
	@media(max-width: 1024px){
		padding: 0 0 50px;
	}
	@media(max-width: 768px){
		padding: 0 0 50px;
	}
	@media(max-width: 576px){
		padding: 0 0 50px;
	}
	&:before{
		display: block;
		content: '';
		height: 10vw;
		background: linear-gradient(0deg, $cred 0%, $ccyan 100%);
		@media(max-width: 1024px){
			height: 20vw;
		}
	}
	div.health_container{
		padding: 0 5vw;
		@media(max-width: 1024px){
			padding: 0 40px;
		}
		@media(max-width: 768px){
			padding: 0 30px;
		}
		@media(max-width: 576px){
			padding: 0 20px;
		}
		div.health_texts{
			h3.health_title{
				margin-bottom: 1vw;
				color: $cwhite;
				font-size: 5.5vh;
				font-family: $ffmain;
				font-weight: 400;
				line-height: 1;
				@media(max-width: 1024px){
					font-size: 36px;
				}
				@media(max-width: 576px){
					font-size: 30px;
				}
			}
			div.health_desc{
				font-size: 2.5vh;
				line-height: 1.3;
				@media(max-width: 576px){
					font-size: 20px;
				}
				p{
					color: $cwhite;
				}
			}
		}
		div.health_top{
			display: flex;
			align-items: flex-start;
			padding-right: 40vw;
			@media(max-width: 1024px){
				padding-right: 0;
			}
			div.ribbon_wrap{
				position: relative;
				margin-right: 3vw;
				right: auto;
				bottom: auto;
				@media(max-width: 1024px){
					display: none;
				}
			}
			div.health_texts{
				flex: 1;
				padding-top: 40px;
			}
		}
		div.health_bot{
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			@media(max-width: 576px){
				flex-direction: column;
				align-items: center;
			}
			a.round_button{
				margin-right: 3vw;
				margin-bottom: 2vw;
				@media(max-width: 1024px){
					order: 2;
					margin-left: 30px;
					margin-right: 0;
				}
				@media(max-width: 576px){
					margin-right: 30px;
					margin-bottom: 0;
				}
			}
			div.health_texts{
				width: 40vw;
				@media(max-width: 1024px){
					order: 1;
					flex: 1;
					width: auto;
				}
				@media(max-width: 576px){
					margin-bottom: 20px;
				}
			}
		}
	}
}